{% load static %}
{% load cart_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Contact Us - Campus Bites</title>
  <link rel="stylesheet" href="{% static 'canteen/com.css' %}">

</head>
<body class="dark-theme">
  <header>
    <nav class="navbar">
      <a href="index.html" class="logo">Campus Bite's</a>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'menu' %}">Menu</a></li>
        <li><a href="{% url 'cart' %}">Cart</a></li>
        <li><a href="{% url 'about' %}">About Us</a></li>
        <li><a href="{% url 'contact' %}" class="active">Contact</a></li>
      </ul>
    </nav>
  </header>

  <section class="contact-section">
    <h1>Contact Us</h1>
    <form class="contact-form">
      <input type="text" placeholder="Your Name" required />
      <input type="email" placeholder="Your Email" required />
      <textarea placeholder="Your Message" rows="5" required></textarea>
      <button type="submit">Send Message</button>
    </form>
  </section>
</body>
</html>
